.cms-table{
    margin-top: 10px;
    background-color: var(--white);
    border-radius: 20px;
    width: 100%;
}
.cms-table tr{
    text-align: center;
}
.cms-table th,.cms-table td{
    padding: 20px;
}